<head>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>

<!-- Section Wrapper -->

<body class="min-h-screen antialiased bg-[#FAFAFA] font-[Inter]">

    <!-- Equivalent for each sections/*.html -->
     <!-- Section Component -->
    <div class="p-4">
        <div class="mx-auto max-w-3xl text-base/7 text-gray-700">
            <h1 class="text-xl font-bold border-l border-[rgba(0,0,0,.08)] pl-4 bg-blue-100 py-4">
                セクションタイトル
            </h1>

            <!-- Card Component -->
            <div
                class="bg-white rounded-md my-4 p-4 border shadow-[0_2px_2px_rgba(0,0,0,0.04)] border-[rgba(0,0,0,.08)]">
                <h2 class="font-medium mb-4 color-[#171717]"><strong>{emoji} カードタイトル</strong></h2>
                <p class="mb-4">説明文</p>
                <div class="color-[#666] leading-[1.5] tracking-[0]`">
                    content

                    <!-- Example: Callout -->
                    <div class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4 my-4" role="alert">
                        <p class="font-bold">Tips</p>
                        <p>Example message for callout</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
